<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282372342244-go1b4ga7ru2637ibkk0mr42evaqafeou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282372342244-go1b4ga7ru2637ibkk0mr42evaqafeou</string>
	<key>API_KEY</key>
	<string>AIzaSyBpqr9e2_rD779v6ToZueeJzoBS1lPSEC8</string>
	<key>GCM_SENDER_ID</key>
	<string>282372342244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.georgian.upasnapareshkumarkhatiwala.MDEV1001-Assignment4</string>
	<key>PROJECT_ID</key>
	<string>mdev1001-assignment4-d88db</string>
	<key>STORAGE_BUCKET</key>
	<string>mdev1001-assignment4-d88db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282372342244:ios:e3756c853a29071e4b47f1</string>
</dict>
</plist>